/** @format */

.div-box-Clothing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
  margin-right: 40px;
}
.box-Clothing {
  background-color: rgb(50, 152, 152);
  width: 250px;
  height: 300px;
  margin: 9px;
  border-radius: 15px;
}
.box-Clothing:hover {
  margin: 2px;
}
.parent-box-text-Clothing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  font-size: 3rem;

  /* margin-top: 40px; */
}
.box-text-Clothing {
  background-color: rgb(168, 168, 147);
  width: 900px;
  height: 400px;
  border-radius: 60px;
  border: 2px solid;
  display: flex;
  margin-top: 20px;
}
.box-text-Clothing p {
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 30px;
  display: inline-block;
}
.ul-Clothing {
  list-style-type: none;
  display: flex;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  font-style: oblique;
  flex-direction: row;
  justify-content: space-evenly;
}
.li-Clothing {
  display: flex;
  background-color: rgb(12, 46, 35);
  color: rgb(68, 198, 198);
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid;
}
.li-Clothing:hover {
  background-color: brown;
}
