/** @format */

* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(235, 163, 139);
}
/* .nav-ul-header-home {
  display: flex;
  justify-content: center;
  width: inherit;
  height: inherit;
} */
.ul-home-sidebar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
.ul-home-sidebar li {
  color: rgb(37, 6, 6);
  background-image: url(../img/home/img-header-li-home.png);
  font-size: 200%;
  border-top: 4px solid rgb(36, 0, 197);
  border-bottom: 4px solid rgb(17, 82, 29);
  border-left: 4px solid rgb(114, 5, 5);
  border-right: 4px solid rgb(153, 51, 143);
  border-radius: 100px;
  margin-top: 1px;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}
.ul-home-sidebar li:hover {
  border: 4px solid black;
  color: blueviolet;
  background-image: url(../img/home/ul-hover-home.jpg);
}
.parent-box-text-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.box-text-home {
  background-color: brown;
  border: 1px solid rgb(255, 255, 255);
  /* width: 1300px;
  height: 300px; */

  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  border-radius: 40px;
  margin-top: 40px;
}
@media only screen and (max-width: 720px) {
  body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
.box-text-home:hover {
  background-color: brown;
}
.box-span-home {
  display: flex;
  flex-direction: row;
  background-color: rgb(61, 112, 141);
  width: 200px;
  height: 250px;
  border-radius: 40px;
}
.box-span-home:hover {
  background-color: brown;
}
.span-text-box-home {
  font-size: 3em;
  color: rgb(20, 21, 23);
  display: flex;
  margin-top: 70px;
  padding: 40px;
}
.p-box-text-home {
  font-size: 30px;
  color: rgba(239, 239, 239, 0.918);
  display: flex;
  flex-direction: row;
  align-self: center;
  font-family: fantasy;
}
.p-box-text-home:hover {
  color: wheat;
}
.p-box-text-home::selection {
  background-color: coral;
}
.parent-box-span-home {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: inherit;
  width: inherit;
}

/* img page */

.parent-img-header-home {
  display: flex;
}
.box-header-img {
  display: flex;
}
.header-img-home {
  /* width: 1583px;
  height: 141px; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #4c7ea2;
}
.logo-home {
  width: 120px;
  height: 100px;

  border-top: 10px solid darkcyan;
  border-bottom: 10px solid sandybrown;
  border-left: 3px crimson;
  border-right: 3px rgb(33, 24, 23);
  border-radius: 30px;
}
a {
  text-decoration: none;
}
.img-article-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.img-article-home div {
  background-color: aquamarine;
  border: 2px solid black;
  width: 200px;
  height: 200px;
  margin: 30px;
  border-radius: 30px;
}
.img-article-home div:hover {
  margin: 3px;
}
.img-home-buttom {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}
.span-top-img-article {
  display: flex;
  justify-content: center;
}
.span-top-img-article span {
  font-size: 3em;
  margin-top: 15px;
  font-family: cursive;
}
.mobile-home {
  width: 300px;
  height: 400px;
}
.Clothing-home {
  width: 300px;
  height: 400px;
}
.car-home {
  width: 300px;
  height: 400px;
}

footer {
  text-align: center;
}
footer a {
  font-size: 4em;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
footer a:hover {
  color: rgb(8, 66, 52);
}
hr {
  background-color: brown;
  height: 10px;
}
hr:hover {
  background-color: blueviolet;
}

.h1-home {
  display: none;
}
figure {
  text-align: center;
  background-color: rgb(64, 107, 193);
  border-radius: 40px;
  padding-bottom: 20px;
  border-bottom: 5px solid;
  font-size: 1rem;
  font-weight: bold;
  font-family: monospace;
  color: aquamarine;
}
.div-input-serche {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
input[type="text"] {
  width: 600px;
  height: 50px;
  background-color: azure;
  border-radius: 40px;
  margin-right: 100px;
  margin-left: 20px;
  margin-bottom: 5px;
}
input[type="text"]::placeholder {
  font-size: 2rem;
  padding: 15px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
input[type="text"]:hover {
  border: 5px solid black;
}
#lable-serche {
  font-size: 2.5rem;
  font-family: cursive;
}
#lable-button {
  display: flex;
  justify-content: center;
}
input[type="button"] {
  width: 80px;
  height: 50px;
  display: flex;
  order: -1;
  margin-right: 50px;
}
