.div-box-main-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box-main-mobile {
  display: flex;
  border: 2px solid black;
  height: 250px;
  width: 250px;
  background-color: aquamarine;
  margin-top: 50px;
  border: 3px solid black;
  border-radius: 5px;
}
.box-main-mobile:hover {
  margin: 15px;
}
#img-nokia {
  width: 250px;
  height: 250px;
}
#img-samsung {
  width: 250px;
  height: 250px;
}
#img-xiaomi {
  width: 250px;
  height: 250px;
}
#img-apple {
  width: 250px;
  height: 250px;
}
.parent-div-text-box-mobile {
  display: flex;
  justify-content: center;
}
.div-text-box-mobile {
  display: flex;
  background-color: rgb(229, 216, 241);
  border: 2px solid black;
  width: 900px;
  height: 400px;
  margin-top: 30px;
  border-left: 10px solid rgb(26, 34, 100);
  border-top: 10px solid rgb(76, 71, 169);
  border-bottom: 10px solid rgb(135, 146, 198);
  border-right: 10px solid rgb(199, 205, 230);
  border-radius: 5px 150px 5px 150px;
}
.div-text-box-mobile:hover {
  border: solid 10px black;
}
.div-text-box-mobile {
  display: flex;
  justify-content: space-evenly;
}
.span-box-text {
  font-size: 2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 70px;
  margin-top: 30px;
  display: flex;
  background-color: rgb(230, 188, 172);
  height: 40px;
  padding: 8px;
  border-radius: 5px;
  color: rgb(10, 10, 11);
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  border: 2px solid black;
  font-weight: bold;
}
.span-box-text:hover {
  background-color: brown;
}
.span-nokia {
  margin-left: 10px;
}
.ul-nokia {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}
.li-nokia {
  border: 2px solid black;
  padding: 8px;
  margin-right: 55px;
  margin-top: 5px;
  border-radius: 50px;
  font-weight: bold;
  background-color: black;
  color: rgb(151, 176, 197);
}
.li-nokia:hover {
  background-color: brown;
}
.ul-samsung {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}
.li-samsung {
  border: 2px solid black;
  padding: 8px;
  margin-right: 55px;
  margin-top: 5px;
  border-radius: 50px;
  font-weight: bold;
  background-color: black;
  color: rgb(151, 176, 197);
}
.li-samsung:hover {
  background-color: brown;
}
.ul-apple {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}
.li-apple {
  border: 2px solid black;
  padding: 8px;
  margin-right: 55px;
  margin-top: 5px;
  border-radius: 50px;
  font-weight: bold;
  background-color: black;
  color: rgb(151, 176, 197);
}
.li-apple:hover {
  background-color: brown;
}
.ul-xiaomi {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}
.li-xiaomi {
  border: 2px solid black;
  padding: 8px;
  margin-right: 55px;
  margin-top: 5px;
  border-radius: 50px;
  font-weight: bold;
  background-color: black;
  color: rgb(151, 176, 197);
}
.li-xiaomi:hover {
  background-color: brown;
}
.parent-span-top-model-phone {
  display: flex;
  justify-content: center;
}
.span-top-model-phone {
  margin-top: 50px;
  font-size: 3em;
  font-weight: bold;
  font-family: fantasy;
  border: 2px solid black;
  border-radius: 8px;
  color: rgb(38, 59, 100);
}
footer {
  text-align: center;
}
footer a {
  font-size: 4em;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
footer a:hover {
  color: rgb(8, 66, 52);
}
hr {
  background-color: brown;
  height: 10px;
}
hr:hover {
  background-color: blueviolet;
}
.s {
  background-color: blue;
}
